.basic-news-card {
  & > div {
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    padding: 6px;
    padding-bottom: 0px;
    &:active,
    &:visited,
    &:link {
      color: rgb(40, 40, 40);
    }
    & > .img {
      width: 100%;
      height: 66.5%;
      flex-shrink: 1;
      flex-grow: 1;
      margin-bottom: 6px;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    & > .text {
      margin: 0 3px 6px 3px;
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 150px;
      max-height: 150px;
      overflow: hidden;
      position: relative;
      & > h1 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 5px;
      }
      & > p {
        font-size: 1.4rem;
        margin-bottom: 6px;
      }
      &.fade {
        &::after {
          background-image: linear-gradient(to top, #fdfdfd, transparent);
        }
        &.white-fade::after {
          background-image: linear-gradient(to top, white, transparent);
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 0px;
        left: 0;
      }
    }
  }
  &.no-image {
    & > div > .img {
      display: none;
    }
  }
  &.horz {
    & > div {
      flex-flow: row-reverse wrap;
      & > .img {
        max-width: 220px;
      }
    }
  }
}
